{{ define "main" }}
{{ .Content }}
<div style="text-align: center">
  <img src="/images/heart.png" alt="{{ .Site.Title }}">
</div>

{{ with .GetPage "/charte" }} {{.Content}} {{end}}

<h2>Espaces de coworking</h2>
<ul>
  {{ range (where .Site.RegularPages "Section" "espace") }}
  <li>
    <div class="item-space">
      <a href="{{ .Permalink }}"> {{ .Params.Nom }}</a>
      <div class="space-image">
      </div>
    </div>
  </li>
  {{ end }}
</ul>

<div class="contact">
  <p>Vous êtes un espace de coworking, implanté sur le terrritoire du Grand Lyon, et vous vous reconnaissez dans les critères de cette charte ?</p>
  <a href="mailto:coworking.grandlyon@gmail.com">Ecrivez-nous</a>
</div>
{{ end }}
