@import 'jekyll-theme-cayman';

.small-image {
    height: 5rem;
}

.page-header {
    a {
        color: unset;
        text-decoration: none;
    }

    h1 {
        margin-top: 0;
    }
}

.main-content {
    padding-top: 0;

img {
    object-fit: contain;
}
}

.item-space {
    display: flex;
    align-items: center;

.space-image {
    flex-grow: 1;
    text-align: right;
}
}

h1 {
    font-size: 3rem;
}

.contact {
    background-color: #f2f2f2;
    color: #000;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;

    a {
        display: inline-block;
        background-color: #CC1719;
        color: white;
        padding: 0.8rem;
        margin: 0 1rem;
    }
}
